
@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Roman.otf')  format('opentype'),
	     url('HelveticaNeue-Roman.woff') format('woff'), url('HelveticaNeue-Roman.ttf')  format('truetype'), url('HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
