
@font-face {
  font-family: 'ChaletComprime-MilanSixty';
  src: url('ChaletComprime-MilanSixty.eot?#iefix') format('embedded-opentype'),  url('ChaletComprime-MilanSixty.woff') format('woff'), url('ChaletComprime-MilanSixty.ttf')  format('truetype'), url('ChaletComprime-MilanSixty.svg#ChaletComprime-MilanSixty') format('svg');
  font-weight: normal;
  font-style: normal;
}
