.experiencia-detail{
	padding: 50px 0 80px;

	.header{
		display: table;
		table-layout: fixed;
		height: 100%;
		>div{
			display: table-cell;
			float: none;
			position: relative;
			vertical-align: bottom;
		}
	}

	.heading{
		position: relative;
		.title{
			color: #fff;
			font-family: @helvetica_bold;
			font-size: 27px;
			line-height: 1.1;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			padding: 30px;
			z-index: 10;
		}
		.subtitle{
			font-family: @helvetica;
			font-size: 24px;
			margin-top: 10px;
		}
		.pic-container{
			position: relative;
		}
		.watermark{
			position: absolute;
			top: 20px;
			left: 20px;
			width: 150px;
		}
	}
	.excerpt{
		color: #000;
		font-family: @roman;
		font-size: 33px;
		line-height: 1.2;
		margin-bottom: 30px;
		text-transform: uppercase;

		p{
			margin-bottom: 0;
			&.strong{
				font-family: @helvetica_bold;
			}
		}
	}
	.promo{
		font-family: @helvetica_italic;
		font-size: 27px;
		line-height: 1;
		text-transform: uppercase;
	}

	.description{
		margin-top: 30px; 
		h1, h2, h3{
			background-color: @primary;
			color: #fff;
			padding: 5px 15px;
		}
	}

	.italic{
		font-family: @helvetica_italic;
		font-size: 18px;
	}

	.table > tbody > tr > td{
		vertical-align: middle;
		border: 0;
	}

	h4{
		font-family: @helvetica_bold;
		font-size: 26px;
		margin: 20px 0;
		text-transform: uppercase;
	}

	h5{
		font-family: @helvetica_bold;
		font-size: 21px;
		margin-bottom: 0;
		text-transform: uppercase;	
	}

	ul{
		margin-bottom: 30px;
	}

	.legales{
		font-family: @helvetica_italic;
		font-size: 14px;
		margin-top: 30px;
	}

	.tel{
		font-family: @helvetica;
		font-size: 24px;
	}

	.cotizar{
		font-family: @helvetica_bold;
		font-size: 35px;
		a{
			color: #000;
		}
	}
}

@media (max-width: @screen-sm-max){
	.experiencia-detail{
		.excerpt{
			font-size: 22px;
		}
	}
}

@media (max-width: @screen-xs-max){
	.experiencia-detail{
		padding: 0 15px;
		.header{
			display: block;
			
			
			>div{
				display: block;
				position: relative;
			}
		}

		.heading{
			.title{
				font-size: 30px;
				position: initial;
				background-color: transparent;
				color: @primary;
				line-height: 1;
				padding: 0;
				margin: 20px 0;
			}
		}
		.excerpt{
			font-size: 20px;
			line-height: 1;
			margin-top: 20px;
			position: initial;
		}

		.description{
			margin-top: 15px;
		}

		h4{
			font-size: 20px;
		}
		.legales{
			font-size: 16px;
		}
		.tel{
			font-size: 21px;
		}
	}
}