html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 85px; /* bottom = footer height */
}

.experiencia-home{
	margin-top: 50px;
	padding-bottom: 80px;

	.row{
		margin: 0;
		article[class *= "col-sm"]{
			padding: 0;
		}
	}
	article a{
		display: block;
		position: relative;
		.watermark{
			position: absolute;
			top: 20px;
			left: 20px;
			width: 150px;
		}
		.thumbnail{
			position: relative;
			img{
				position: relative;
				width: 100%;
				height: auto;
				margin: 0 auto;
			}
			&:after{
				clear: both;
				content: "";
				display: block;
			}
		}
		.description{
			background-color: rgba(0,0,0,0.6);
			padding: 20px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			.title, .quote{
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				margin: 11px 0;
				line-height: 1;
			}
			.title{
				font-family: @helvetica_bold;
				font-size: 27px;
				margin-top: 0;
			}
			.quote{
				font-family: @helvetica;
				font-size: 22px;
				font-weight: normal;
				margin-bottom: 0;
			}
		}
		&:hover{
			.description{
				display: block;
			}
		}
	}
}

footer{
	background-color: @primary;
	padding-top: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 85px;
	width: 100%;
	
	.logo{
		width: 130px;
	}
	
	p{
		font-family: @roman;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		a, span{
			border-right: 1px solid #fff;
			color: #fff;
			display: inline-block;
			font-size: 12px;
			padding: 3px 15px;
			&:hover, &:active, &:focus{
				color: #fff;
			}
			&:last-child{
				border-right: 0;
			}
		}
		span{
			padding: 3px 5px;
		}
	}
}



@media (max-width: @screen-sm-max){
	.experiencia-home{
		margin-top: 0;
		article a{
			.description{
				display: block;
				.title{
					font-size: 22px;
					border: 0;
				}
				.quote{
					display: none;
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max){
	body {
	    margin: 0 0 132px; /* bottom = footer height */
	}
	
	.experiencia-home{

		.row{
			margin: 0 -15px;
			article[class *= "col-sm"]{
				padding: 0 15px; 
			}
		}

		article{
			margin-bottom: 15px;
			a{
				.description{
					padding: 15px;
					.title{
						font-size: 18px;
					}
				}
			}
		}
	}

	footer{
		height: 132px;
		padding-top: 0;
		.container{
			padding-top: 10px;
		}
		&:last-child{
			margin-bottom: 0;
		}

		p a{
			border: 0;
		}
	}
}