@media (min-width: 1400px){
	header{
		.motto{
			font-size: 50px;
		}
		.logo{
			max-width: 100%;
		}
	}
	.cover{
		height: 300px;

		img{
			height: 300px;
		}

		.name{
			font-size: 150px;
			margin-top: 20%; 
		}
	}
}

// tablet
@media (min-width: @screen-sm) and (max-width: @screen-md){
	header{
		.motto{
			font-size: 38px;
			margin-bottom: 20px;
		}
	}

	.cover{
		height: 200px;
		.name{
			font-size: 90px;
			margin-top: 25%;
		}
		img{
			height: 200px;
		}
	}
}

@media (max-width: @screen-xs-max){
	header{
		.social-media{
			text-align: center;
			margin-top: 20px;
		}

		.motto{
			font-size: 40px;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	.cover{
		height: 200px;
		img{
			height: 200px;
		}
	}

	footer{
		ul li{
			display: block;
			&:nth-child(2){
				border: 0;
			}
		}
	}
}

@media (min-width: 480px) and (max-width: @screen-xs-max){
	.cover{
		.name{
			display: block;
			font-size: 50px;
			text-align: right;
			margin-top: 20%;
		}
	}
}

@media (max-width: 479px){
	.cover{
		.name{
			display: none;
		}
	}
}