.experiencia-detail{
	padding-bottom: 80px;

	.heading{
		position: relative;
		.title{
			color: #fff;
			font-family: @chalet;
			font-size: 100px;
			line-height: 1.1;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			padding: 0 30px;
		}
	}
	.excerpt{
		color: @blue;
		font-family: @chalet;
		font-size: 64px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.description{
		margin-top: 30px; 
		h1, h2, h3, h4, h5, h6{
			background-color: @blue;
			color: #fff;
			padding: 5px 15px;
		}
	}
}

@media (max-width: @screen-md-max){
	.experiencia-detail{
		.heading{
			.title{
				font-size: 70px;
			}
		}
		.excerpt{
			font-size: 50px;
		}
	}
}

@media (max-width: @screen-sm-max){
	.experiencia-detail{
		.heading{
			.title{
				font-size: 50px;
			}
		}
		.excerpt{
			font-size: 40px;
		}
	}
}

@media (max-width: @screen-xs-max){
	.experiencia-detail{
		.heading{
			.title{
				font-size: 50px;
				position: initial;
				background-color: transparent;
				color: @blue;
				line-height: 1;
				padding: 0;
				margin-bottom: 20px;
			}
		}
		.excerpt{
			font-size: 30px;
			line-height: 1;
			margin-top: 20px;
		}

		.description{
			margin-top: 15px;
		}
	}
}