html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 85px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 85px;
    width: 100%;
}

.home{
	position: relative;
	margin-bottom: 80px;
	> img{
		width: 100%; 
	}
}

.home-content{
	margin-bottom: 180px;
	position: relative;

	.ribbon{
		background-color: @blue;
		position: absolute;
		width: 100%;
		height: 70%;
		top: 15%;
	}

	.carousel{
		.carousel-caption{
			bottom: inherit;
			font-family: @chalet;
			font-size: 98px;
			line-height: 1;
			padding-top: 0;
			text-align: left;
			text-transform: uppercase;
			top: 20px;
			left: 10%;
			right: 40%;
		}
	}
}

footer{
	background-color: @blue;
	padding-top: 10px;
	a{
		border-right: 1px solid #fff;
		color: #fff;
		display: inline-block;
		font-size: 16px;
		padding: 5px 15px 0;
		&:hover, &:active, &:focus{
			color: #fff;
		}
		&:last-child{
			border: 0;
		}
	}
	p{
		font-family: @helvetica-roman;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		span{
			display: inline-block;
			border-right: 1px solid #fff;
			padding: 5px 15px 0;

			&:last-child{
				border: 0;
			}
		}
	}
}

.contact{
	padding: 40px 0;
	fieldset{
		margin-bottom: 30px;
		legend{
			color: @blue;
		}
	}
}

@media (min-width: @screen-lg){
	.home nav{
		img{
			top: 30px;
		}
		ul li a{
			font-size: 90px;
		}
	}
}

@media (max-width: @screen-sm-max){
	.home-content{
		margin-bottom: 130px;

		.carousel{
			.carousel-caption{
				font-size: 70px;
			}
		}
	}
}

@media (max-width: @screen-xs-max){
	.home-content{
		margin-bottom: 130px;
		.container{
			padding: 0;
		}
	}
	body {
	    margin: 0 0 132px; /* bottom = footer height */
	}
	footer{
		height: 132px;
		padding-top: 0;
		.container{
			padding-top: 10px;
		}
		&:last-child{
			margin-bottom: 0;
		}
		a, p span{
			border: 0;
		}
	}
}