nav{

	img{
		position: relative;
		top: 25px;
	}

	ul{
		margin-bottom: 0;
		li {
			margin-top: 15px;
			a{
				display: inline-block;
				color: #fff;
				font-size: 70px;
				font-family: @chalet;
				padding: 0 10px;
				text-transform: uppercase;

				&:hover, &:active, &:focus{
					color: @lightBlue;
					text-decoration: none;
				}
			}
			&:first-child a{
				display: inline;
			}
		}
	}
}

.home{
	nav{
		background-color: rgba(255,255,255, 0.5);
		position: absolute;
		bottom: 0;
		padding-top: 5px;
		width: 100%;

		ul li a{
			color: @blue;
			&:hover, &:active, &:focus{
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

header{
	background-color: @blue;
}

.mobile-nav{
	margin-bottom: 0;
	.navbar-brand img{
		height: 25px;
		top: 0;
	}

	.navbar-nav a{
		text-transform: uppercase;
	}
}

@media (max-width: @screen-sm-max){
	nav{
		img{
			top: 20px;
		}
		ul li a{
			font-size: 50px;
		}
	}
}