

@blue: #273272;
@lightBlue: #00afec;
@red: #e14333;
@brown: #816446;
@lightGrue: #458090;
@purple: #643282;
@lightGreen: #5e9d44;
@yellow: #ffcb4a;
@grue: #386776;
@orange: #e69033;
@green: #587839;
@pink: #ed4365;

@font-size-base: 16px;

//Fonts
@font-path : '../fonts/';

@font-face {
  font-family: 'ChaletComprime-MilanSixty';
  src: url('@{font-path}ChaletComprime-MilanSixty/ChaletComprime-MilanSixty.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}ChaletComprime-MilanSixty/ChaletComprime-MilanSixty.eot') format('opentype'),  
    url('@{font-path}ChaletComprime-MilanSixty/ChaletComprime-MilanSixty.woff') format('woff'), 
    url('@{font-path}ChaletComprime-MilanSixty/ChaletComprime-MilanSixty.ttf')  format('truetype'), 
    url('@{font-path}ChaletComprime-MilanSixty/ChaletComprime-MilanSixty.svg#ChaletComprime-MilanSixty') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('@{font-path}HelveticaLTStd-Bold/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}HelveticaLTStd-Bold/HelveticaLTStd-Bold.otf')  format('opentype'),
    url('@{font-path}HelveticaLTStd-Bold/HelveticaLTStd-Bold.woff') format('woff'), 
    url('@{font-path}HelveticaLTStd-Bold/HelveticaLTStd-Bold.ttf')  format('truetype'), 
    url('@{font-path}HelveticaLTStd-Bold/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLTStd-Roman';
  src: url('@{font-path}HelveticaLTStd-Roman/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}HelveticaLTStd-Roman/HelveticaLTStd-Roman.otf')  format('opentype'),
    url('@{font-path}HelveticaLTStd-Roman/HelveticaLTStd-Roman.woff') format('woff'), 
    url('@{font-path}HelveticaLTStd-Roman/HelveticaLTStd-Roman.ttf')  format('truetype'), 
    url('@{font-path}HelveticaLTStd-Roman/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}



@chalet: 'ChaletComprime-MilanSixty';
@helvetica-bold: 'HelveticaLTStd-Bold';
@helvetica-roman: 'HelveticaLTStd-Roman';


// MIXIN to create bg-@{color} class
.make-classes(@prefix, @list) {
    .iter(length(@list));
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair:  extract(@list, @i); 
        @key:   extract(@pair, 1);
        @value: extract(@pair, 2); 
        .@{prefix}-@{key} {
            background-color: rgba(red(@value), green(@value), blue(@value), 0.7);
        }
    }
}
