.experiencia-home{
	margin-top: 50px;
	padding-bottom: 80px;

	.row{
		margin: 0;
		article[class *= "col-sm"]{
			padding: 0;
		}
	}
	article a{
		display: block;
		position: relative;
		.thumbnail{
			position: relative;
			img{
				position: relative;
				width: 100%;
				height: auto;
				margin: 0 auto;
			}
			&:after{
				clear: both;
				content: "";
				display: block;
			}
		}
		.description{
			background-color: rgba(0,0,0,0.6);
			display: none;
			padding: 40px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.title, .quote{
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				margin: 11px 0;
			}
			.title{
				font-family: @helvetica_bold;
				font-size: 27px;
			}
			.quote{
				font-family: @helvetica;
				font-size: 22px;
				font-weight: normal;
			}
		}
		&:hover{
			.description{
				display: block;
			}
		}
	}
}

.error{
	font-family: @helvetica_bold;
	font-size: 70px;
	color: @primary;
	&.error-page{
		margin-top: 80px;
	}
}

/*@media (max-width: @screen-md-max){
	.experiencia-home{
		article a{
			.description{
				.title{
					font-size: 50px;
				}
				.quote{
					font-size: 30px;
				}
			}
		}
	}
}*/

@media (max-width: @screen-sm-max){
	.experiencia-home{
		margin-top: 0;
		article a{
			.description{
				display: block;
				.title{
					font-size: 27px;
					border: 0;
				}
				.quote{
					display: none;
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max){
	.experiencia-home{

		.row{
			margin: 0 -15px;
			article[class *= "col-sm"]{
				padding: 0 15px; 
			}
		}

		article{
			margin-bottom: 15px;
			a{
				.description{
					padding: 15px;
				}
			}
		}
	}
}