.experiencia-detail{
	padding-bottom: 80px;

	.header{
		display: table;
		table-layout: fixed;
		height: 100%;
		>div{
			display: table-cell;
			float: none;
			position: relative;
		}
	}

	.heading{
		position: relative;
		.title{
			color: #fff;
			font-family: @helvetica_bold;
			font-size: 22px;
			line-height: 1.1;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0,0,0,0.7);
			padding: 30px;
		}
	}
	.excerpt{
		color: @primary;
		font-family: @helvetica_italic;
		font-size: 32px;
		line-height: 1.2;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;

		p{
			margin-bottom: 0;
		}
	}

	.description{
		margin-top: 30px; 
		h1, h2, h3, h4, h5, h6{
			background-color: @primary;
			color: #fff;
			padding: 5px 15px;
		}
	}

	.cotizar a{
		color: #000;
		font-family: @helvetica_bold;
		font-size: 35px;
	}
}

@media (max-width: @screen-sm-max){
	.experiencia-detail{
		.excerpt{
			font-size: 22px;
		}
	}
}

@media (max-width: @screen-xs-max){
	.experiencia-detail{
		.header{
			display: block;
			
			
			>div{
				display: block;
				position: relative;
			}
		}

		.heading{
			.title{
				font-size: 30px;
				position: initial;
				background-color: transparent;
				color: @primary;
				line-height: 1;
				padding: 0;
				margin-bottom: 20px;
			}
		}
		.excerpt{
			font-size: 20px;
			line-height: 1;
			margin-top: 20px;
			position: initial;
		}

		.description{
			margin-top: 15px;
		}
	}
}