.experiencias-landing, .experiencias-header{
	.experiencia{
		overflow: hidden;
		position: relative;
		.mask{
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		img{
			position: absolute;
			width: 100%;
		}
		a, .title-wrapper{
			display: block;
			height: 140px;
			position: relative;
			
			.title{
				margin: 0;
				color: #fff;
				font-family: @helvetica;
				font-size: 70px;
				font-weight: bold;
				height: 100%;
				padding-top: 30px;
				position: relative;
				text-transform: uppercase;
				z-index: 2;
			}

			&:hover, &:active, &:focus{
				text-decoration: none;
			}
		}

		&:nth-child(1), &:nth-child(8){
			img{
				top: -150%;
			}
		}

		&:nth-child(2), &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(10){
			img{
				top: -250%;
			}
		}

		&:nth-child(4), &:nth-child(6){
			img{
				bottom: -100%;
			}
		}

		&:nth-child(9){
			img{
				bottom: -150%;
			}
		}
	}
}

.experiencias-header{
	margin-bottom: 50px;
	
	.experiencia{
		&.arte, &.deportes{
			img{
				top: -250%;
			}
		}

		&.cine, &.eventos{
			img{
				top: -200%;
			}
		}
		&.compras{
			img{
				bottom: -100%;
				top: initial;
			}
		}
		&.entretenimiento, &.naturaleza{
			img{
				bottom: -150%;
				top: initial;
			}
		}
	}
}

@experience-colors: 
	red @red, 
	brown @brown,
	lightGrue @lightGrue,
	purple @purple,
	lightGreen @lightGreen,
	yellow @yellow,
	grue @grue,
	orange @orange,
	green @green,
	pink @pink;

.make-classes(bg, @experience-colors);
//previous mixin will produce the output:
/*
	.bg-red{
		background-color: rgba(red(@red), green(@red), blue(@red), 0.7);
	}
*/
@media (max-width: @screen-md-max){
	.experiencias-landing, .experiencias-header{
		.experiencia{
			a, .title-wrapper{
				.title{
					font-size: 50px;
					padding-top: 40px
				}
			}
		}
	}
}

@media (max-width: @screen-sm-max){
	.experiencias-landing, .experiencias-header{
		.experiencia{
			a, .title-wrapper{
				.title{
					font-size: 50px;
					padding-top: 40px
				}
			}
			&:nth-child(5){
				img{
					top: -150%;
				}
			}
			&:nth-child(1), &:nth-child(10){
				img{
					top: -100%
				}
			}
			&:nth-child(9){
				img{
					bottom: -100%;
				}
			}

			&.compras, &.entretenimiento{
				img{
					top: -200%;
				}
			}

			&.naturaleza{
				img{
					top: initial;
					bottom: -100%;
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max){
	.experiencias-landing, .experiencias-header{
		.experiencia{
			&:nth-child(n){
				img{
					bottom: initial;
					top: initial;
				}
			}
			a, .title-wrapper{
				.title{
					font-size: 30px;
					padding-top: 40px
				}
			}

			&.compras, &.deportes, &.entreteniminto, &.eventos, &.naturaleza{
				img{
					bottom: 0;
				}
			}
		}
	}
}