html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 85px; /* bottom = footer height */
}

.home-content{
	position: relative;
	min-height: 486px;
	background: url(img/landing.jpg) bottom center no-repeat;
	background-size: cover;
	
	.opacity{
		background-color: rgba(0,0,0,0.6);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.title{
		font-family: @helvetica;
		font-size: 39px;
		color: @primary;
	}
	.strengths{
		display: table;
		height: 100%;
		margin: 50px 0;
		table-layout: fixed;

		.border{
			border-right: 1px solid @primary;
			display: table-cell;
			float: none;
			position: relative;
			vertical-align: top;
			
			&:last-child{
				border-right: 0;
			}

			p{
				font-family: @helvetica;
				font-size: 23px;
				color: #fff;
				margin-bottom: 0;
			}
		}
	}

	.motto{
		color: #fff;
		font-family: @helvetica_italic;
		font-size: 31px;
		margin-bottom: 40px;
		position: relative;
		z-index: 10;
	}
}

footer{
	background-color: @primary;
	padding-top: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 85px;
	width: 100%;
	
	.logo{
		width: 130px;
	}
	
	p{
		font-family: @roman;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		a, span{
			border-right: 1px solid #fff;
			color: #fff;
			display: inline-block;
			font-size: 12px;
			padding: 3px 15px;
			&:hover, &:active, &:focus{
				color: #fff;
			}
			&:last-child{
				border-right: 0;
			}
		}
		span{
			padding: 3px 5px;
		}
	}
}

.contact{
	padding: 40px 15px;
	fieldset{
		margin-bottom: 30px;
		legend{
			color: @primary;
		}
	}
	.form-control:focus{
		border-color: @primary;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red(@primary), green(@primary), blue(@primary), 0.6);
	}

	.btn-primary{
		background-color: @primary;
		border-color: darken(@primary, 10%);
		&:hover{
			background-color: darken(@primary, 5%);
			border-color: darken(@primary, 10%);
		}
	}
}

@media (max-width: @screen-sm-max){
	.home-content{

		.strengths{
			display: block;
			.clearfix{
				margin-bottom: 30px;
			}
			.border{
				display: block;
				float: left;
				&:first-child{
					border-right: 0;
				}
				&:nth-child(2){
					border-right: 0;
					border-left: 1px solid @primary;
				}
			}
		}
	}
}

@media (max-width: @screen-xs-max){
	.home-content{
		margin-bottom: 130px;
		.container{
			padding: 0;
		}
		.row{
			margin: 0;
		}
		.title{
			font-size: 30px;
		}
		.strengths{
			margin-top: 30px;
			.border{
				border: 0 !important;
				margin-bottom: 30px;
				p{
					font-size: 18px;
				}
			}
		}
		.motto{
			font-size: 26px;
		}
	}
	body {
	    margin: 0 0 132px; /* bottom = footer height */
	}
	footer{
		height: 132px;
		padding-top: 0;
		.container{
			padding-top: 10px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}