.main-menu{
	display: table;
	table-layout: fixed;
	height: 100%;
	>div{
		display: table-cell;
		float: none;

		ul{
			position: absolute;
			bottom: 35px;
			padding: 0 15px;
			right: 0;
		}
	}
}
nav{

	ul{
		margin-bottom: 0;
		li {
			a{
				display: inline-block;
				color: #fff;
				font-size: 24px;
				font-family: @roman;
				padding: 0 10px;
				text-transform: uppercase;

				&:hover, &:active, &:focus{
					color: @primary;
					text-decoration: none;
				}
			}
			&.current_page_item a{
				color: @primary;
			}
		}
	}
}
.front-page{
	//background: url(img/home.jpg) center bottom no-repeat;
	background-size: cover;
	.home{
		background-color: transparent;
		padding: 0;
		position: relative;

		> img{
			width: 100%; 
		}
		
		nav{
			background: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.8));
			position: absolute;
			bottom: 0;
			width: 100%;
			padding-bottom: 40px;

			> .container >.row{
				position: relative;

				div[class='col-sm-8']{
					position: absolute;
					right: 0;
					bottom: 15px;	
				}
			}

			ul {
				position: initial;
				li a{
					color: #000;
					&:hover, &:active, &:focus{
						color: @primary;
						text-decoration: none;
					}
				}
			}
		}
	}
}

header{
	background-color: #000;
	padding: 10px 0;
}

.mobile-nav{
	margin-bottom: 0;
	.navbar-brand img{
		height: 25px;
		top: 0;
	}

	.navbar-nav{
		position: initial;
		a{
			text-transform: uppercase;
		}
	}
}

@media (max-width: @screen-xs-max){
	header{
		padding: 0;
	}
}