

@primary: #E57200;
@lightBlue: #00afec;
@red: #e14333;
@brown: #816446;
@lightGrue: #458090;
@purple: #643282;
@lightGreen: #5e9d44;
@yellow: #ffcb4a;
@grue: #386776;
@orange: #e69033;
@green: #587839;
@pink: #ed4365;

@font-size-base: 16px;

//Fonts
@font-path : 'fonts/';

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('@{font-path}HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  
    url('@{font-path}HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'), 
    url('@{font-path}HelveticaNeue-Bold/HelveticaNeue-Bold.ttf')  format('truetype'), 
    url('@{font-path}HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url('@{font-path}HelveticaNeue-Italic/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),  
    url('@{font-path}HelveticaNeue-Italic/HelveticaNeue-Italic.woff') format('woff'), 
    url('@{font-path}HelveticaNeue-Italic/HelveticaNeue-Italic.ttf')  format('truetype'), 
    url('@{font-path}HelveticaNeue-Italic/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('@{font-path}HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  
    url('@{font-path}HelveticaNeue-Light/HelveticaNeue-Light.woff') format('woff'), 
    url('@{font-path}HelveticaNeue-Light/HelveticaNeue-Light.ttf')  format('truetype'), 
    url('@{font-path}HelveticaNeue-Light/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('@{font-path}HelveticaNeue-Roman/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),  
    url('@{font-path}HelveticaNeue-Roman/HelveticaNeue-Roman.otf')  format('opentype'),
    url('@{font-path}HelveticaNeue-Roman/HelveticaNeue-Roman.woff') format('woff'), 
    url('@{font-path}HelveticaNeue-Roman/HelveticaNeue-Roman.ttf')  format('truetype'), 
    url('@{font-path}HelveticaNeue-Roman/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}


@helvetica: 'HelveticaNeue-Light';
@helvetica_italic: 'HelveticaNeue-Italic';
@helvetica_bold: 'HelveticaNeue-Bold';
@roman: 'HelveticaNeue-Roman';

/*@chalet: 'ChaletComprime-MilanSixty';
@helvetica-bold: 'HelveticaLTStd-Bold';
@helvetica-roman: 'HelveticaLTStd-Roman';*/


// MIXIN to create bg-@{color} class
.make-classes(@prefix, @list) {
    .iter(length(@list));
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair:  extract(@list, @i); 
        @key:   extract(@pair, 1);
        @value: extract(@pair, 2); 
        .@{prefix}-@{key} {
            background-color: rgba(red(@value), green(@value), blue(@value), 0.7);
        }
    }
}
